<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name ="CommissionDB" connectionString="&quot;Data Source=localhost;Initial Catalog=CommisionDepartmentEricDB;Integrated Security=True;MultipleActiveResultSets=True&quot;"/>
    <add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost;Initial Catalog=CommisionDepartmentEricDB;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>