<?xml version="1.0"?>
<configuration>
  <connectionStrings>
	  <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=(local);Initial Catalog=CommissionDepartment; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />
    --><!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=HANU-130\SQLEXPRESS;Initial Catalog=CommisionDepartmentEricDB; integrated security = true; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=DBSERVER\TESTTVDB; Initial Catalog=CommisionDepartmentEricDB; User ID=sa;Password=admin@123; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />-->
    <add name="CommissionDepartmentEntities" connectionString="metadata=res://*/LinqtoEntity.MyAgencyEntity.csdl|res://*/LinqtoEntity.MyAgencyEntity.ssdl|res://*/LinqtoEntity.MyAgencyEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=192.168.1.43;Initial Catalog=CommissionDeptEricDB;User ID=sa;Password=acmeminds; MultipleActiveResultSets=True &quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="basicHttpBindingBehaviour"
          receiveTimeout="00:10:00"
          maxBufferSize="999999999"
          maxReceivedMessageSize="999999999"
          sendTimeout="00:10:00" openTimeout="00:10:00"
          closeTimeout="00:10:00">
          <readerQuotas maxStringContentLength="5242880"/>
        </binding>
      </basicHttpBinding>
    </bindings>   
    <services>
      
      <service name="MyAgencyVault.WcfService.MavService" behaviorConfiguration="MyService">
        
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5202/MavService.svc"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="basicHttpBinding"
         contract="MyAgencyVault.WcfService.IStatementDates"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueResults"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IComDeptService"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IClient"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IImportTransactionFile"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueStatus"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorUserWebSite"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayor"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IMasters"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ICarrier"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IBatchStatmentRecords"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IInvoice"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPostUtil"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPolicyToolIncommingShedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPolicyOutgoingDistribution"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPayorToolAvailablelFieldType"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IJournal"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IExportDate"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IAdvancedPayee"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayee"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IGlobalPayorContact"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IBatch" 
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IDownloadBatch"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IStatement"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicy"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.INews"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILastViewPolicy"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIncomingSchedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IClientAndPayment"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IOutgoingSchedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicyToLearnPost"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorToolField"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.INote"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IGlobalIncomingSchedule"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ILearnedToPolicyPost"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IComDeptSupport"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ISendMail"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IDataEntryUnit"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IMavService"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicyDetails"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorTool"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ILinkPaymentReciptRecords"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ICommissionEntry"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueCategory"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IOutgoingPayment"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ILinkPaymentPolicies"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILicensee"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IFormula"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IFollowupIssue"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorSource"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILicenseeNote"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPayorDefaults"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IInvoiceLine"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IBillingLineDetail"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IBatchFiles"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IBatchInsuredRecored"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IUser"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicySettings"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IPolicyLearnedField"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IPolicySearched"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ILicenseeInvoice"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIncomingPament"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.ICoverage"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ICalculateVariableService"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
           contract="MyAgencyVault.WcfService.IIssueReasons"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.IExportCardPayeeInfo"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
        contract="MyAgencyVault.WcfService.IReport"
                bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
        contract="MyAgencyVault.WcfService.IPayorTemplate"
                bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
       contract="MyAgencyVault.WcfService.IDisplayPayor"
               bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
       contract="MyAgencyVault.WcfService.IConfigDisplayPayor"
               bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="" binding="basicHttpBinding"
          contract="MyAgencyVault.WcfService.ISettingDisplayPayor"
               bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="" binding="basicHttpBinding"
                  contract="MyAgencyVault.WcfService.IBrokerCode"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>

        <endpoint address="" binding="basicHttpBinding"
                  contract="MyAgencyVault.WcfService.ICompType"
                  bindingConfiguration="basicHttpBindingBehaviour">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        
        <endpoint address="mex" binding="mexHttpBinding"
          contract="IMetadataExchange">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
      </service>
    </services>
   <behaviors>
      <serviceBehaviors>
        <behavior name="MyService">
          <serviceThrottling
            maxConcurrentCalls="50000"
            maxConcurrentSessions="50000"
            maxConcurrentInstances="50000"
          />
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.net>
    <webRequestModules>
      <remove prefix="http:"/>
      <add prefix="http:" type="WcfHttpCompressionEnabler.CompressibleHttpRequestCreator, WcfHttpCompressionEnabler, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </webRequestModules>
  </system.net>
</configuration>
